<mat-toolbar color="primary">
    <span id="toolbar-title"><a [routerLink]="'index'">Crystal Nails</a></span>
    <span class="space"></span>
    <ul>
        <li><a *ngIf="!(loggedInUser)" [routerLink]="'login'">Bejelentkezés</a></li>
        <li><a *ngIf="loggedInUser" [routerLink]="'logout'" (click)="logout()">Kilépés</a></li>
        <li><a *ngIf="!(loggedInUser)" [routerLink]="'register'">Regisztráció</a></li>
        <li><a *ngIf="loggedInUser" [routerLink]="'profile'">Profil</a></li>
        <li><a *ngIf="loggedInUser" [routerLink]="'discussion'">Fórum</a></li>
        <li><a [routerLink]="'gallery'">Galéria</a></li>
    </ul>
</mat-toolbar>
<router-outlet></router-outlet>