@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
$pink: #c2185b;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-label, .mat-form-field-appearance-legacy{
    color: $pink !important;
}

.mat-select-value{
    color: $pink;
}

.mat-icon-button {
    color: $pink;
}

.mat-hint {
    color: $pink;
}

ngx-mat-timepicker-standalone {
    position: absolute;
    left: 200px;
    top: -200px;
}