<div class="container">
    <h1 *ngIf="error"class="error">Hibás jelszó vagy email!</h1>
    <form [formGroup]="loginForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label for="email">Email</mat-label>
                <input matNativeControl type="email" formControlName="email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label for="password">Jelszó</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
        <div class="button-div">
            <button mat-stroked-button color="primary" (click)="login()">Bejelentkezés</button>
        </div>
    </form>
</div>