<div class="container">
    <form [formGroup]="registerForm">
        <div>
            <mat-form-field>
                <mat-label>Felhasználónév</mat-label>
                <input matInput type="text" formControlName="username">
            </mat-form-field>
        </div>
        <div formGroupName="fullname">
            <div>
                <mat-form-field>
                    <mat-label>Vezetéknév</mat-label>
                    <input matInput type="email" formControlName="lastname">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Keresztnév</mat-label>
                    <input matInput type="email" formControlName="firstname">
                </mat-form-field>
            </div>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Telefonszám</mat-label>
                <input matInput type="text" formControlName="telnumber">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Jelszó</mat-label>
                <input matInput type="text" formControlName="password1">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Jelszó újra</mat-label>
                <input matInput type="text" formControlName="password2">
            </mat-form-field>
        </div>
        <button mat-stroked-button color="primary" (click)="register()">Regisztráció</button>
    </form>
</div>
